@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8xdtb0');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8xdtb0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8xdtb0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8xdtb0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8xdtb0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-balance {
  &:before {
    content: $icon-balance; 
  }
}
.icon-booking {
  &:before {
    content: $icon-booking; 
  }
}
.icon-information {
  &:before {
    content: $icon-information; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-win-close {
  &:before {
    content: $icon-win-close; 
  }
}
.icon-win-minus {
  &:before {
    content: $icon-win-minus; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-testimonio {
  &:before {
    content: $icon-testimonio; 
  }
}
.icon-chat-question {
  &:before {
    content: $icon-chat-question; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-propuesta {
  &:before {
    content: $icon-propuesta; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-hotel-detalle {
  &:before {
    content: $icon-hotel-detalle; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}

