$icomoon-font-family: "perutourism" !default;
$icomoon-font-path: "../fonts" !default;

$icon-credit-card: "\e90e";
$icon-calendar: "\e90a";
$icon-hotel-detalle: "\e90d";
$icon-location: "\e90b";
$icon-time: "\e90c";
$icon-win-close: "\e900";
$icon-win-minus: "\e901";
$icon-chat-question: "\e907";
$icon-chevron-down: "\e902";
$icon-chevron-left: "\e903";
$icon-chevron-right: "\e904";
$icon-chevron-up: "\e905";
$icon-testimonio: "\e906";
$icon-info: "\e908";
$icon-propuesta: "\e909";

