$icomoon-font-family: "perutourism" !default;
$icomoon-font-path: "../fonts" !default;

$icon-balance: "\e90a";
$icon-booking: "\e90b";
$icon-information: "\e90c";
$icon-user: "\e900";
$icon-win-close: "\e901";
$icon-win-minus: "\e902";
$icon-chevron-down: "\e903";
$icon-chevron-left: "\e904";
$icon-chevron-right: "\e905";
$icon-chevron-up: "\e906";
$icon-testimonio: "\e907";
$icon-chat-question: "\e908";
$icon-info: "\e909";
$icon-propuesta: "\e910";
$icon-calendar: "\e911";
$icon-location: "\e912";
$icon-time: "\e913";
$icon-hotel-detalle: "\e914";
$icon-credit-card: "\e915";

